@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/* Configurações padrão para todas caixas */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}
html, body{
    background-color: #1A1A2E;
    width: 100vw;
    height: 100vh;
    position: relative;
}
form{
    padding-top: 100px;
}
main{
    margin: auto;
    width: 70vw;
    max-width: 850px;
    padding: 15px 0px;

    background-color: rgb(26, 36, 66);
    box-shadow: 1px 1px 10px rgba(63, 63, 63, 0);
    border-radius: 5px;
}
main > div{
    color: white;
    text-align: center;
}
main > div#header{
    margin-bottom: 20px;
}
main > div#header > img{
    width: 69px;
    margin: 5px auto;
    display: flex;
}
main > div#header > h1{
    font-size: 29px;
    margin-bottom: 5px;
}
main > div#header > p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.500);
}
main > div#link > input{
    background-color: rgb(37, 52, 97);
    border: 0;

    font-size: 15px;

    width: 60vw;
    max-width: 750px;
    height: 45px;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
}
main > div#button > input{
    cursor: pointer;
}
main > div#button > input#baixar{
    background-color: rgb(37, 52, 97);
    border: 0;

    font-size: 19px;
    font-family: "Teko", sans-serif;
    font-weight: bold;

    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
}
main > div#button > input#limpar{
    background-color: rgb(37, 52, 97);
    border: 0;

    font-size: 19px;
    font-family: "Teko", sans-serif;
    font-weight: bold;

    width: 80px;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
}
main > div#button > input#baixar:active{
    transition: all 50ms ease-in-out;
    background-color: whitesmoke;
    color: rgb(37, 52, 97);
}
main > div#button > input#limpar:active{
    transition: all 50ms ease-in-out;
    background-color: whitesmoke;
    color: rgb(37, 52, 97);
}
main > div#button > span{
    margin: 0px 10px 0px 10px;
}